<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Weather Forecast</title>
  </head>
  <body>
    <div class="temp-units">
      <button class="celsius">°C</button><button class="fahrenheit">°F</button>
    </div>

    <div class="container">
      <div class="form-result">
        <form class="weather-form">
          <input type="text" placeholder="Location" class="location-input" />
          <input type="submit" value="Search" />
        </form>
        <div class="weather-desc"></div>
      </div>
    </div>
  </body>
</html>
