@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

/* Global styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Mukta";
}

body {
  background-image: url(./modules/images/clearSunnySky.jpg);
}

/* Form */

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-15%);
}

.form-result {
  height: 10rem;
}

.weather-form {
  margin: auto;
  padding: 1.2rem 2rem;
  background: rgba(128, 128, 128, 0.25);
  border-radius: 0.2rem;
}

.weather-form > input {
  padding: 0.5rem;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

/* weather desc */

.weather-desc {
  margin-top: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 1px 1px 2px black;
}

p {
  color: red;
  font-size: 1.4rem;
}

.far,
.fas {
  font-size: 5rem;
  text-shadow: 1px 1px 2px black;
}
.fa-sun {
  color: yellow;
}
.fa-cloud-rain {
  color: aqua;
}
.fa-cloud-moon-rain {
  color: blue;
}
.fa-cloud {
  color: gainsboro;
}

/* units */

.temp-units {
  position: absolute;
  right: 1rem;
  font-size: 3rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  z-index: 100;
}

button {
  padding: 0.75rem 1rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  cursor: pointer !important;
  transition-duration: 200ms;
}
